<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="phone_book_search.My.MySettings.phone_bookConnectionString"
            connectionString="server=localhost;user id=root;password=taka@07250713;persistsecurityinfo=True;database=phone_book"
            providerName="MySql.Data.MySqlClient" />
        <add name="phone_book_search.My.MySettings.phone_bookConnectionString1"
            connectionString="persistsecurityinfo=True;server=localhost;user id=root;password=taka@07250713;database=phone_book"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>